<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.moisesborges.gametrading"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <service
            android:name=".location.FetchAddressIntentService"
            android:exported="false"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme"/>
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".games.GamesActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".login.view.SignUpActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".login.view.SignInActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".dashboard.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".gamesearch.GameSearchActivity"
            android:parentActivityName=".dashboard.DashboardActivity"/>
    </application>

</manifest>